<html>
<body>
<%=stylesheet_link_tag "discounts", media: 'all'%>
<div class="border">

<div class="titleposition">
<div align="center">
  Check your discount eligibility
</div>
</div>

<div class="box1">
  <div class="picalign">
  <%=image_tag('statefarm.png', :size => '180x40')%><br>
</div>
</div>

<div class="box2">
  <div class="picalign">
  <%=image_tag('allstate.png', :size => '180x40')%><br>
</div>
</div>

<div class="box3">
  <div class="picalign">
  <%=image_tag('liberty.png', :size => '180x40')%><br>
</div>
</div>

<div align="center">
  <div class="bottom">
  <h4>Have a different insurance?</h4><br>
  contact your agent or a customer service representative and ask if there is a <br>
  discount for using Canary.
</div>
</div>
</div>
</body>
</html>
