<%=stylesheet_link_tag "footer", media: 'all'%>
<div class="backcolor">
<div class="picalignment">
<%=image_tag('team.png', :size => '600x300')%>
</div>

<div class="questions">
<h4>Still have questions?</h4><br>
</div>

<div class="undertext">
Call or email us 24 hours a day. 7 days a week.
</div>

<div class=button>
<button type="button" class="btn btn-default btn-lg active">Open a Ticket</button>
</div>

</div>
</div>
