<!DOCTYPE html>

<%=stylesheet_link_tag "header", media: 'all'%>

<ul>
  <li><%=render 'home/logo'%></li>
  <li><a href="#news">How it works</a></li>
  <li><a href="#contact">Uses</a></li>
  <li><a href="#about">Why Canary?</a></li>
  <li><a href="#plans">Plans</a></li>
  <li><a href="#help">Help</a></li>
</ul>
<hr>



</body>
</html>
