<!DOCTYPE html>

<%=stylesheet_link_tag "header", media: 'all'%>

<ul>
  <li><%=render 'home/logo'%></li>
  <li><a href="/how">How it works</a></li>
  <li><a href="/uses">Uses</a></li>
  <li><a href="/why">Why Canary?</a></li>
  <li><a href="/plans">Plans</a></li>
  <li><a href="/help">Help</a></li>
</ul>
<hr>



</body>
</html>
