<%=stylesheet_link_tag "help", media: 'all'%>
<div class="helpstyle">
We are here to help!<br>

Feel free to reach us at either of these numbers<br>
<%=image_tag('contacts.jpg', :size => '400x200')%>
US:1-888-271-0121
England:44-800-090-3699
</div>
