
<%=stylesheet_link_tag "how", media: 'all'%>
<div class="animate">
<p>How Does Canary Work???</p>
</div>

<div class="picmovement">
<%=image_tag('how.png', :size => '700x500')%>
</div>

<div class="textmovement">
Canary is a all-in-one home security system, completely operable from an application. Secure and maintain security of your house<br>
during all hours of the day. Activate and deactivate Canary's sensors with just a swipe of a button from your phone. Watch and<br>
download HD videos to your phone to keep careful observation of your home.
</div>
