<%=stylesheet_link_tag "plans", media: 'all'%>

<div class="plansanimate">
Check out our awesome plans!<br>
<%=image_tag('plans.jpg', :size => '700x500')%><br>
Starting at only $5 a month, Canary contains extended plans that include increased storage, more bookmarks, and<br>
feature unlimited video downloads. With three plans to choose from you will surely find the right one for you!
</div>
