<%=stylesheet_link_tag "uses", media: 'all'%>
<div class="titleanimate">
How to Use Canary<br>



<%=image_tag('canary.jpg', :size => '400x400')%><br>



Canary is a simple to set up, all-in-one home security system.
Get HD video notifications, watch real-time footage, and sound the siren with
a swipe of your finger.<br>
Just download the app and never be left worrying about your house!

</div>
