<%=stylesheet_link_tag "why", media: 'all'%>
<div class="whyanimate">
Why use Canary?<br>

An all-in-one security system for just $199.<br>

<%=image_tag('why.jpg', :size => '500x400')%><br>

Canary posses the fastest outreach to authorities along with automatic arming and disamring of it's own system.
Canary also has the highest quality video and night vision. Canary is truly security you can trust.
</div>
